@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Montserrat:wght@300&family=Open+Sans&family=Roboto:wght@300;400&display=swap');

#root {
  margin: 0 auto;
  // text-align: center;
  align-items: center;
}

body {
  margin: 0;
  place-items: center;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 500;
}

h2 {
  font-weight: 400;
}